{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>TwitteRay</h1>
    {% if user.is_authenticated %}
    <p class="lead">Bienvenido a TwetteRay. Visite el muro de la Ciudad o vaya a su perfil.</p>
        <p><a href="{% url 'muro' %}" class="btn btn-primary btn-large">Ir al muro</a></p>
    <p><a href="{% url 'mimuro' %}" class="btn btn-success btn-large"  >Ir a mi perfil </a></p>
    {% else %}
    <p class="lead">Bienvenido a TwetteRay. Inicie sesi&oacute;n o registrese para disfrutar del muro de Parra s City.</p>
    <p><a href="{% url 'login' %}" class="btn btn-primary btn-large">Iniciar sesi&oacute;n</a></p>
    <p><a href="{% url 'signup' %}" class="btn btn-success btn-large"  >Registrarse </a></p>
    {% endif %}
</div>


{% endblock %}
